#Paste Your LinkedIn Email and Password in the below format. Do not change the variable names.
email=your_linkedin_email

# If you use '#' in your password, enclose it in double quotes.
pass=your_linkedin_password

